<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My App{% endblock %}</title>



    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/root.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    
    {% block extra_css %}{% endblock %}
</head>

<body>
    {% include 'base/navbar.html' %}
    <div class="flash-container">

        {% with messages = get_flashed_messages(with_categories=true) %}

        {% if messages %}

        {% for category, message in messages %}

        <div class="flash flash-{{ category }}">

            <span>{{ message }}</span>

            <button class="flash-close">&times;</button>

        </div>

        {% endfor %}

        {% endif %}

        {% endwith %}

    </div>
    {% block content %}

    {% endblock %}

    {% include 'base/footer.html' %}
    <script src="{{ url_for('static', filename='js/footer.js') }}"></script>
    {% block extra_js %}{% endblock %}

</body>

</html>